<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="utf-8">
	<title>Probando Vuejs</title>
	<meta name="author" content="Your Name">
	<meta name="description" content="Example description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="estilos.css">
</head>

<body>
	<header></header>
	<main>
		<div id="app">
			<!-- Contenido de nuestra App Vuejs aquí -->
			<h1>
				Listado simple:
			</h1>
			<ul>
				<li v-for="dia in semana" :key="dia.id">{{dia.nombre}}</li>
			</ul>
			<h1>
				Listado utilizando un índice:
			</h1>
			<ul>
				<li v-for="(dia2, index) in semana" :key="dia2.id">
					Index: {{ index }} Día: {{ dia2.nombre }}
				</li>
			</ul>
		</div>
	</main>
	<footer></footer>
	<!-- Importamos Vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<!-- Importamos nuestro propio js -->
	<script src="main.js"></script>
</body>

</html>
