<html>
<head>
	<title>
		Probando Vuejs
	</title>
</head>
	
<body>
	<div id="app">
		<h2>
			Mi lista de deseados:
		</h2>
		<ul>
			<li v-if="sueldo > 400">Calefactor</li>
			<li v-if="sueldo > 200">Maleta</li>
			<li v-if="sueldo > 300">Portátil</li>
			<li v-if="sueldo > 400">Televisor</li>
			<li v-if="sueldo > 150">Cartera</li>
			<li v-if="sueldo > 100">Abrigo</li>
		</ul>
	</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
const app = new Vue({
        el: '#app',
        data: {
            sueldo: 340
        }
    });
</script>

</body>
</html>